## Python - Introduction

Python is an easy to learn, powerful programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming. Python’s elegant syntax and dynamic typing, together with its interpreted nature, make it an ideal language for scripting and rapid application development in many areas on most platforms.

The Python interpreter and the extensive standard library are freely available in source or binary form for all major platforms from the Python Web site, https://www.python.org/, and may be freely distributed. The same site also contains distributions of and pointers to many free third party Python modules, programs and tools, and additional documentation.

The Python interpreter is easily extended with new functions and data types implemented in C or C++ (or other languages callable from C). Python is also suitable as an extension language for customizable applications.

For a description of standard objects and modules, see The Python Standard Library. The Python Language Reference gives a more formal definition of the language. To write extensions in C or C++, read Extending and Embedding the Python Interpreter and Python/C API Reference Manual. There are also several books covering Python in depth.

This tutorial does not attempt to be comprehensive and cover every single feature, or even every commonly used feature. Instead, it introduces many of Python’s most noteworthy features, and will give you a good idea of the language’s flavor and style. After reading it, you will be able to read and write Python modules and programs, and you will be ready to learn more about the various Python library modules described in The Python Standard Library.

## Python objects, basic types, and variables

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`

In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

<hr>

## Basic operators

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first (like PEMDAS in math). Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

In [1]:
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [2]:
# Addition
num1 + num2

7

In [3]:
# Subtraction
num2 - num3

-10.41

In [4]:
# Multiplication
num3 * num4

-4.446

In [5]:
# Division
num4 / num5

-0.08571428571428572

In [6]:
# Exponent
num5 ** num6

343

In [7]:
# Increment existing variable
num7 += 4
num7

15.11

In [8]:
# Decrement existing variable
num6 -= 2
num6

1

In [9]:
# Multiply & re-assign
num3 *= 5
num3

37.05

In [10]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

-101.14999999999999

In [11]:
# Are these two expressions equal to each other?
num1 + num2 == num5

True

In [12]:
# Are these two expressions not equal to each other?
num3 != num4

True

In [13]:
# Is the first expression less than the second expression?
num5 < num6

False

In [14]:
# Is this expression True?
5 > 3 > 1

True

In [15]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

True

In [16]:
# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

In [17]:
# Addition
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [18]:
# Notice that the string was not modified
simple_string1

'an example'

In [19]:
# Multiplication
simple_string2 * 4

'oranges oranges oranges oranges '

In [20]:
# This string wasn't modified either
simple_string2

'oranges '

In [21]:
# Are these two expressions equal to each other?
simple_string1 == simple_string2

False

In [22]:
# Are these two expressions equal to each other?
simple_string1 == 'an example'

True

In [23]:
# Add and re-assign
simple_string1 += ' that re-assigned the original string'
simple_string1

'an example that re-assigned the original string'

In [24]:
# Multiply and re-assign
simple_string2 *= 3
simple_string2

'oranges oranges oranges '

In [25]:
# Note: Subtraction, division, and decrement operators do not apply to strings.

## Basic containers

> Note: **mutable** objects can be modified after creation and **immutable** objects cannot.

Containers are objects that can be used to group other objects together. The basic container types include:

- **`str`** (string: immutable; indexed by integers; items are stored in the order they were added)
- **`list`** (list: mutable; indexed by integers; items are stored in the order they were added)
  - `[3, 5, 6, 3, 'dog', 'cat', False]`
- **`tuple`** (tuple: immutable; indexed by integers; items are stored in the order they were added)
  - `(3, 5, 6, 3, 'dog', 'cat', False)`
- **`set`** (set: mutable; not indexed at all; items are NOT stored in the order they were added; can only contain immutable objects; does NOT contain duplicate objects)
  - `{3, 5, 6, 3, 'dog', 'cat', False}`
- **`dict`** (dictionary: mutable; key-value pairs are indexed by immutable keys; items are NOT stored in the order they were added)
  - `{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}`

When defining lists, tuples, or sets, use commas (,) to separate the individual items. When defining dicts, use a colon (:) to separate keys from values and commas (,) to separate the key-value pairs.

Strings, lists, and tuples are all **sequence types** that can use the `+`, `*`, `+=`, and `*=` operators.

In [26]:
# Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [27]:
# Items in the list object are stored in the order they were added
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [28]:
# Items in the tuple object are stored in the order they were added
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [29]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set1

{False, 3, 5, 6, 'dog', 'cat'}

In [30]:
# Items in the dict object are not stored in the order they were added
dict1

{'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish'], 'name': 'Jane'}

In [31]:
# Add and re-assign
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [32]:
# Add and re-assign
tuple1 += (5, 'grapes')
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [33]:
# Multiply
[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [34]:
# Multiply
(1, 2, 3, 4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## Accessing data in containers

For strings, lists, tuples, and dicts, we can use **subscript notation** (square brackets) to access data at an index.

- strings, lists, and tuples are indexed by integers, **starting at 0** for first item
  - these sequence types also support accesing a range of items, known as **slicing**
  - use **negative indexing** to start at the back of the sequence
- dicts are indexed by their keys

> Note: sets are not indexed, so we cannot use subscript notation to access data elements.

In [35]:
# Access the first item in a sequence
list1[0]

3

In [36]:
# Access the last item in a sequence
tuple1[-1]

'grapes'

In [37]:
# Access a range of items in a sequence
simple_string1[3:8]

'examp'

In [38]:
# Access a range of items in a sequence
tuple1[:-3]

(3, 5, 6, 3, 'dog', 'cat')

In [39]:
# Access a range of items in a sequence
list1[4:]

['dog', 'cat', False, 5, 'grapes']

In [40]:
# Access an item in a dictionary
dict1['name']

'Jane'

In [41]:
# Access an element of a sequence in a dictionary
dict1['fav_foods'][2]

'fish'

## Python built-in functions and callables

A **function** is a Python object that you can "call" to **perform an action** or compute and **return another object**. You call a function by placing parentheses to the right of the function name. Some functions allow you to pass **arguments** inside the parentheses (separating multiple arguments with a comma). Internal to the function, these arguments are treated like variables.

Python has several useful built-in functions to help you work with different objects and/or your environment. Here is a small sample of them:

- **`type(obj)`** to determine the type of an object
- **`len(container)`** to determine how many items are in a container
- **`callable(obj)`** to determine if an object is callable
- **`sorted(container)`** to return a new list from a container, with the items sorted
- **`sum(container)`** to compute the sum of a container of numbers
- **`min(container)`** to determine the smallest item in a container
- **`max(container)`** to determine the largest item in a container
- **`abs(number)`** to determine the absolute value of a number
- **`repr(obj)`** to return a string representation of an object

> Complete list of built-in functions: https://docs.python.org/3/library/functions.html

There are also different ways of defining your own functions and callable objects that we will explore later.

In [42]:
# Use the type() function to determine the type of an object
type(simple_string1)

str

In [43]:
# Use the len() function to determine how many items are in a container
len(dict1)

3

In [44]:
# Use the len() function to determine how many items are in a container
len(simple_string2)

24

In [45]:
# Use the callable() function to determine if an object is callable
callable(len)

True

In [46]:
# Use the callable() function to determine if an object is callable
callable(dict1)

False

In [47]:
# Use the sorted() function to return a new list from a container, with the items sorted
sorted([10, 1, 3.6, 7, 5, 2, -3])

[-3, 1, 2, 3.6, 5, 7, 10]

In [48]:
# Use the sorted() function to return a new list from a container, with the items sorted
# - notice that capitalized strings come first
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

['California', 'Chicago', 'ants', 'cats', 'dogs', 'mice', 'zebras']

In [49]:
# Use the sum() function to compute the sum of a container of numbers
sum([10, 1, 3.6, 7, 5, 2, -3])

25.6

In [50]:
# Use the min() function to determine the smallest item in a container
min([10, 1, 3.6, 7, 5, 2, -3])

-3

In [51]:
# Use the min() function to determine the smallest item in a container
min(['g', 'z', 'a', 'y'])

'a'

In [52]:
# Use the max() function to determine the largest item in a container
max([10, 1, 3.6, 7, 5, 2, -3])

10

In [53]:
# Use the max() function to determine the largest item in a container
max('gibberish')

's'

In [54]:
# Use the abs() function to determine the absolute value of a number
abs(10)

10

In [55]:
# Use the abs() function to determine the absolute value of a number
abs(-12)

12

In [56]:
# Use the repr() function to return a string representation of an object
repr(set1)

"{False, 3, 5, 6, 'dog', 'cat'}"

## Python object attributes (methods and properties)

Different types of objects in Python have different **attributes** that can be referred to by name (similar to a variable). To access an attribute of an object, use a dot (`.`) after the object, then specify the attribute (i.e. `obj.attribute`)

When an attribute of an object is a callable, that attribute is called a **method**. It is the same as a function, only this function is bound to a particular object.

When an attribute of an object is not a callable, that attribute is called a **property**. It is just a piece of data about the object, that is itself another object.

The built-in `dir()` function can be used to return a list of an object's attributes.

<hr>

## Some methods on string objects

- **`.capitalize()`** to return a capitalized version of the string (only first char uppercase)
- **`.upper()`** to return an uppercase version of the string (all chars uppercase)
- **`.lower()`** to return an lowercase version of the string (all chars lowercase)
- **`.count(substring)`** to return the number of occurences of the substring in the string
- **`.startswith(substring)`** to determine if the string starts with the substring
- **`.endswith(substring)`** to determine if the string ends with the substring
- **`.replace(old, new)`** to return a copy of the string with occurences of the "old" replaced by "new"

In [57]:
# Assign a string to a variable
a_string = 'tHis is a sTriNg'

In [58]:
# Return a capitalized version of the string
a_string.capitalize()

'This is a string'

In [59]:
# Return an uppercase version of the string
a_string.upper()

'THIS IS A STRING'

In [60]:
# Return a lowercase version of the string
a_string.lower()

'this is a string'

In [61]:
# Notice that the methods called have not actually modified the string
a_string

'tHis is a sTriNg'

In [62]:
# Count number of occurences of a substring in the string
a_string.count('i')

3

In [63]:
# Count number of occurences of a substring in the string after a certain position
a_string.count('i', 7)

1

In [64]:
# Count number of occurences of a substring in the string
a_string.count('is')

2

In [65]:
# Does the string start with 'this'?
a_string.startswith('this')

False

In [66]:
# Does the lowercase string start with 'this'?
a_string.lower().startswith('this')

True

In [67]:
# Does the string end with 'Ng'?
a_string.endswith('Ng')

True

In [68]:
# Return a version of the string with a substring replaced with something else
a_string.replace('is', 'XYZ')

'tHXYZ XYZ a sTriNg'

In [69]:
# Return a version of the string with a substring replaced with something else
a_string.replace('i', '!')

'tH!s !s a sTr!Ng'

In [70]:
# Return a version of the string with the first 2 occurences a substring replaced with something else
a_string.replace('i', '!', 2)

'tH!s !s a sTriNg'

## Some methods on list objects

- **`.append(item)`** to add a single item to the list
- **`.extend([item1, item2, ...])`** to add multiple items to the list
- **`.remove(item)`** to remove a single item from the list
- **`.pop()`** to remove and return the item at the end of the list
- **`.pop(index)`** to remove and return an item at an index

In [4]:
#declaring a list
list_methods = ['A','B','C']
type(list_methods)

list

In [10]:
list_methods.append('D')
list_methods

['A', 'B', 'C', 'D']

In [12]:
list_methods.extend(['E','F','G'])
list_methods

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [13]:
list_methods.remove('F')
list_methods

['A', 'B', 'C', 'D', 'E', 'G']

In [14]:
#pop() - without index, removes and returns the last element
list_methods.pop()

'G'

In [15]:
#pop(index) - with index, removes and returns the element at given index
list_methods.pop(4)

'E'

## Some methods on set objects

- **`.add(item)`** to add a single item to the set
- **`.update([item1, item2, ...])`** to add multiple items to the set
- **`.update(set2, set3, ...)`** to add items from all provided sets to the set
- **`.remove(item)`** to remove a single item from the set
- **`.pop()`** to remove and return a random item from the set
- **`.difference(set2)`** to return items in the set that are not in another set
- **`.intersection(set2)`** to return items in both sets
- **`.union(set2)`** to return items that are in either set
- **`.symmetric_difference(set2)`** to return items that are only in one set (not both)
- **`.issuperset(set2)`** does the set contain everything in the other set?
- **`.issubset(set2)`** is the set contained in the other set?

In [31]:
#declaring the sets
set_1 = {'A','B','C'}
set_2 = {'B','C','D'}
set_3 = {'C','D','E'}

In [32]:
set_1.add('D')
set_1

{'A', 'B', 'C', 'D'}

In [33]:
set_1.update('F','G')
set_1

{'A', 'B', 'C', 'D', 'F', 'G'}

In [34]:
set_1.update(set_2,set_3)
set_1

{'A', 'B', 'C', 'D', 'E', 'F', 'G'}

In [35]:
set_1.remove('F')
set_1

{'A', 'B', 'C', 'D', 'E', 'G'}

In [36]:
set_1.pop()
set_1

{'A', 'B', 'C', 'E', 'G'}

In [37]:
#items present in set_1 but not in set_2
set_1.difference(set_2)

{'A', 'E', 'G'}

In [38]:
#items present in both the sets
set_1.intersection(set_2)

{'B', 'C'}

In [39]:
#unique items present in both the sets
set_1.union(set_2)

{'A', 'B', 'C', 'D', 'E', 'G'}

In [40]:
#items which are not common from both the sets
set_1.symmetric_difference(set_2)

{'A', 'D', 'E', 'G'}

In [43]:
print (set_1)
print (set_2)
set_1.issuperset(set_2)

{'E', 'G', 'A', 'B', 'C'}
{'C', 'D', 'B'}

False

In [44]:
print (set_2)
print (set_3)
set_2.issubset(set_3)

{'C', 'D', 'B'}
{'C', 'D', 'E'}

False

## Some methods on dict objects

- **`.update([(key1, val1), (key2, val2), ...])`** to add multiple key-value pairs to the dict
- **`.update(dict2)`** to add all keys and values from another dict to the dict
- **`.pop(key)`** to remove key and return its value from the dict (error if key not found)
- **`.pop(key, default_val)`** to remove key and return its value from the dict (or return default_val if key not found)
- **`.get(key)`** to return the value at a specified key in the dict (or None if key not found)
- **`.get(key, default_val)`** to return the value at a specified key in the dict (or default_val if key not found)
- **`.keys()`** to return a list of keys in the dict
- **`.values()`** to return a list of values in the dict
- **`.items()`** to return a list of key-value pairs (tuples) in the dict

In [55]:
#declaring 2 dictionaries
dict_1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}
dict_2 = {'name': 'Chris', 'age': 45, 'fav_foods': ['burger', 'apple']}
print (dict_1)
print (dict_2)

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}
{'name': 'Chris', 'age': 45, 'fav_foods': ['burger', 'apple']}

In [56]:
dict_1.update([('city', 'London'), ('DoB', '01/01/1997')])
dict_1

{'name': 'Jane',
 'age': 23,
 'fav_foods': ['pizza', 'fruit', 'fish'],
 'city': 'London',
 'DoB': '01/01/1997'}

In [57]:
dict_2.update([('city', 'New York'), ('DoB', '02/02/1975')])
dict_2

{'name': 'Chris',
 'age': 45,
 'fav_foods': ['burger', 'apple'],
 'city': 'New York',
 'DoB': '02/02/1975'}

In [59]:
dict_1.pop('DoB')
dict_1

{'name': 'Jane',
 'age': 23,
 'fav_foods': ['pizza', 'fruit', 'fish'],
 'city': 'London'}

In [66]:
dict_1.get('city')

'London'

In [67]:
dict_1.keys()

dict_keys(['name', 'age', 'fav_foods', 'city'])

In [68]:
dict_1.values()

dict_values(['Jane', 23, ['pizza', 'fruit', 'fish'], 'London'])

In [69]:
dict_1.items()

dict_items([('name', 'Jane'), ('age', 23), ('fav_foods', ['pizza', 'fruit', 'fish']), ('city', 'London')])

## Formatting strings and using placeholders

So if you have a variable in Python or any other type of data type, you can create a placeholder, usually in a print function to reserve a spot for this variable before explicitly saying what the variable is.

The best way to see this is in actual code.

In the code below, we create 3 variables: desination1, destination2 and amount.

We then print out these variables with a print function using placeholders.

You'll see exactly how this works below.

In [2]:
destination1= "beach"
destination2= "park"
amount= 3
print ("I went to the {} and {} {} times this week". format(destination1, destination2, amount))

I went to the beach and park 3 times this week

## Python "for loops"

It is easy to **iterate** over a collection of items using a **for loop**. The strings, lists, tuples, sets, and dictionaries we defined are all **iterable** containers.

The for loop will go through the specified container, one item at a time, and provide a temporary variable for the current item. You can use this temporary variable like a normal variable.

In [78]:
#list of even numbers, for loop printing each number from list one at a time
even_numbers = [2, 4, 6, 8]
for num in even_numbers:
    print(num)

2
4
6
8

In [79]:
# Prints all the numbers starting from 0 to 5, excluding 5
for x in range(5):
    print(x)

0
1
2
3
4

In [80]:
# Prints all the numbers starting from 3 upto 6, excluding 6
for x in range(3, 6):
    print(x)

3
4
5

In [81]:
# Prints numbers starting from 3 upto 9, incrementing 3 everytime, excludes 9
for x in range(3, 9, 3):
    print(x)

3
6

In [84]:
string_1 = 'Iteration'
for element in string_1:
    print (element)

I
t
e
r
a
t
i
o
n

## Python "if statements" and "while loops"

Conditional expressions can be used with these two **conditional statements**.

The **if statement** allows you to test a condition and perform some actions if the condition evaluates to `True`. You can also provide `elif` and/or `else` clauses to an if statement to take alternative actions if the condition evaluates to `False`.

The **while loop** will keep looping until its conditional expression evaluates to `False`.

> Note: It is possible to "loop forever" when using a while loop with a conditional expression that never evaluates to `False`.
>
> Note: Since the **for loop** will iterate over a container of items until there are no more, there is no need to specify a "stop looping" condition.

In [4]:
x = 5
y = 10
if x < y:
    print('x is lesser than y')

x is lesser than y

In [5]:
if x > y:
    print('x is greater than y')
else:
    print('x is lesser than y')

x is lesser than y

In [6]:
x = 5
y = 5
if x > y:
    print('x is greater than y')
elif x == y:
    print('x is same as y')
else:
    print('x is lesser than y')

x is same as y

In [7]:
total = 100
country = "US"

if country == "US":
    if total <= 50:
        print("Shipping Cost is  $50")
    elif total <= 100:
        print("Shipping Cost is $25")
    elif total <= 150:
        print("Shipping Costs $5")
    else:
        print("FREE")

Shipping Cost is $25

In [8]:
count = 0
while (count < 3):      
    count = count + 1
    print("This is a WHILE Loop")

This is a WHILE Loop
This is a WHILE Loop
This is a WHILE Loop

In [9]:
# checks if list still contains any element  
a = [1, 2, 3, 4] 
while a: 
    print(a.pop())

4
3
2
1

In [10]:
str = 'WHILE'
i = 0
  
while i < len(str): 
    i += 1
    pass
print('Value of i :', i)

Value of i : 5

### Lamda function

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [1]:
x = lambda a : a + 10
print(x(5))

15

In [2]:
#lamda function with multiple arguments
x = lambda a, b : a * b
print(x(5, 6))

30

## List, set, and dict comprehensions

### List Comprehensions:
Suppose we have two lists, one containing even numbers and one containing numbers divisible by 3:

A = {a|a is even}

B = {b|b is divisible by 3}

We can create another list which contains numbers both even and divisible by 3:

C = {c|c is even and divisible by 3}

In [1]:
# Create the lists
A = [a for a in range(20) if a % 2 == 0]
B = [b for b in range(20) if b % 3 == 0]
C = [c for c in range(20) if c in A and c in B]

# Print out the result
print('A: ', A)
print('B: ', B)
print('C: ', C)

A:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
B:  [0, 3, 6, 9, 12, 15, 18]
C:  [0, 6, 12, 18]

In [2]:
#Nest list comprehensions
# Create the lists
A = [a for a in range(5) if a % 2 == 0]
B = [b for b in range(5) if b % 3 == 0]
C = [a + b for a in A for b in B]

# Print out the result
print('A: ', A)
print('B: ', B)
print('C: ', C)

A:  [0, 2, 4]
B:  [0, 3]
C:  [0, 3, 2, 5, 4, 7]

List comprehensions are not only good for numbers, but also other data types can be used. Take for example this list of strings (consisting of verbs):

["work", "eat", "sleep", "repeat"]

In [3]:
verbs = ["work", "eat", "sleep", "repeat"]
verbs_with_ing = [verb + "ing" for verb in verbs]
print(verbs_with_ing)

['working', 'eating', 'sleeping', 'repeating']

In [4]:
values = [2, 4, 6, 8, 10]
doubled_values = [x*2 for x in values]
print(doubled_values)

[4, 8, 12, 16, 20]

In [6]:
values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_values = [x for x in values if x %2 ==0]
odd_values = [x for x in values if x %2 !=0]
print('Even Values are : ' ,even_values)
print('Odd Values are : ' ,odd_values)

Even Values are :  [2, 4, 6, 8, 10]
Odd Values are :  [1, 3, 5, 7, 9]

In [7]:
two_d_list = [[1,2,3],[4,5,6],[7,8,9]]
flattened = [item for sublist in two_d_list for item in sublist]
print('Single Dimension List: ', flattened)

Single Dimension List:  [1, 2, 3, 4, 5, 6, 7, 8, 9]

### Set Comprehension:

In [9]:
{s for s in [1, 2, 1, 0]}

{0, 1, 2}

In [10]:
{s**2 for s in [1, 2, 1, 0]}

{0, 1, 4}

In [11]:
{s**2 for s in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [13]:
{s for s in [1, 2, 3] if s % 2 == 0}

{2}

In [14]:
{(m, n) for n in range(2) for m in range(3, 5)}

{(3, 0), (3, 1), (4, 0), (4, 1)}

### Dict Comprehension

In [75]:
# dict comprehension to create dict with numbers as values
{i:i for i in [1,2,3,4,5]}

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5}

In [22]:
fruits = ['apple', 'mango', 'banana','cherry']
# dict comprehension to create dict with fruit name as keys
{f:len(f) for f in fruits}

{'apple': 5, 'mango': 5, 'banana': 6, 'cherry': 6}

In [23]:
{f:f.capitalize() for f in fruits}

{'apple': 'Apple', 'mango': 'Mango', 'banana': 'Banana', 'cherry': 'Cherry'}

In [24]:
{f:i for i,f in enumerate(fruits)}

{'apple': 0, 'mango': 1, 'banana': 2, 'cherry': 3}

In [27]:
f_dict = {f:i for i,f in enumerate(fruits)}
{v:k for k,v in f_dict.items()}

{0: 'apple', 1: 'mango', 2: 'banana', 3: 'cherry'}

## Creating objects from arguments or other objects

The basic types and containers we have used so far all provide **type constructors**:

- `int()`
- `float()`
- `str()`
- `list()`
- `tuple()`
- `set()`
- `dict()`

Up to this point, we have been defining objects of these built-in types using some syntactic shortcuts, since they are so common.

Sometimes, you will have an object of one type that you need to convert to another type. Use the **type constructor** for the type of object you want to have, and pass in the object you currently have.

In [41]:
i = 5
print('Integer:',int(i))
print('Float:',float(i))

Integer: 5
Float: 5.0

## Importing random and math modules

In [44]:
import random

for i in range(10):
    print(random.randint(1, 25))

25
2
18
8
21
1
11
2
6
21

In [47]:
from random import randint


for i in range(10):
    print(randint(1, 25))

2
16
18
16
3
3
10
2
10
5

In [48]:
import math as m

print(m.pi)
print(m.e)

3.141592653589793
2.718281828459045

## Exceptions

Even if a statement or expression is syntactically correct, it may cause an error when an attempt is made to execute it. Errors detected during execution are called exceptions and are not unconditionally fatal.

In [62]:
10 * (1/0)

ZeroDivisionError: division by zero

In [63]:
4 + spam*3

NameError: name 'spam' is not defined

In [64]:
'2' + 2

TypeError: can only concatenate str (not "int") to str

The last line of the error message indicates what happened. Exceptions come in different types, and the type is printed as part of the message: the types in the example are ZeroDivisionError, NameError and TypeError. The string printed as the exception type is the name of the built-in exception that occurred. This is true for all built-in exceptions.

### Handling Exceptions

In [70]:
while True:
    try:
        x = int(input("Please enter a number: "))
        break
    except ValueError:
        print("Oops!  That was no valid number.  Try again...")

Please enter a number: w
Oops!  That was no valid number.  Try again...
Please enter a number: e
Oops!  That was no valid number.  Try again...
Please enter a number: r
Oops!  That was no valid number.  Try again...
Please enter a number: 4

## Classes: Creating your own objects

In [71]:
# Define a new class called `Thing` that is derived from the base Python object
class Thing(object):
    my_property = 'I am a "Thing"'


# Define a new class called `DictThing` that is derived from the `dict` type
class DictThing(dict):
    my_property = 'I am a "DictThing"'

In [72]:
print(Thing)
print(type(Thing))
print(DictThing)
print(type(DictThing))
print(issubclass(DictThing, dict))
print(issubclass(DictThing, object))

<class '__main__.Thing'>
<class 'type'>
<class '__main__.DictThing'>
<class 'type'>
True
True

In [73]:
# Create "instances" of our new classes
t = Thing()
d = DictThing()
print(t)
print(type(t))
print(d)
print(type(d))

<__main__.Thing object at 0x7f2170f3d240>
<class '__main__.Thing'>
{}
<class '__main__.DictThing'>

In [74]:
# Interact with a DictThing instance just as you would a normal dictionary
d['name'] = 'Sally'
print(d)

{'name': 'Sally'}

In [75]:
d.update({
        'age': 13,
        'fav_foods': ['pizza', 'sushi', 'pad thai', 'waffles'],
        'fav_color': 'green',
    })
print(d)

{'fav_color': 'green', 'name': 'Sally', 'fav_foods': ['pizza', 'sushi', 'pad thai', 'waffles'], 'age': 13}

In [76]:
print(d.my_property)

I am a "DictThing"

## Defining functions and methods

In [50]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

# Now call the function we just defined:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

## Positional arguments and keyword arguments to callables

You can call a function/method in a number of different ways:

- `func()`: Call `func` with no arguments
- `func(arg)`: Call `func` with one positional argument
- `func(arg1, arg2)`: Call `func` with two positional arguments
- `func(arg1, arg2, ..., argn)`: Call `func` with many positional arguments
- `func(kwarg=value)`: Call `func` with one keyword argument 
- `func(kwarg1=value1, kwarg2=value2)`: Call `func` with two keyword arguments
- `func(kwarg1=value1, kwarg2=value2, ..., kwargn=valuen)`: Call `func` with many keyword arguments
- `func(arg1, arg2, kwarg1=value1, kwarg2=value2)`: Call `func` with positonal arguments and keyword arguments
- `obj.method()`: Same for `func`.. and every other `func` example

When using **positional arguments**, you must provide them in the order that the function defined them (the function's **signature**).

When using **keyword arguments**, you can provide the arguments you want, in any order you want, as long as you specify each argument's name.

When using positional and keyword arguments, positional arguments must come first.

In [51]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [52]:
ask_ok('Do you really want to quit?')

Do you really want to quit?Yes
Please try again!
Do you really want to quit?yes

True

In [53]:
ask_ok('OK to overwrite the file?', 2)

OK to overwrite the file?N
Please try again!
OK to overwrite the file?NO
Please try again!
OK to overwrite the file?NOPE

ValueError: invalid user response

In [54]:
ask_ok('OK to overwrite the file?', 2, 'Come on, only yes or no!')

OK to overwrite the file?yes

True

In [55]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [56]:
parrot(1000)

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [57]:
parrot(voltage=1000)

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [58]:
parrot(voltage=1000000, action='VOOOOOM')

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [59]:
parrot(action='VOOOOOM', voltage=1000000)

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [60]:
parrot('a million', 'bereft of life', 'jump')

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

In [61]:
parrot('a thousand', state='pushing up the daisies')

-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

## Creating an initializer method for your classes

In [ ]:
The below step describes the

In [73]:
#!/usr/bin/python
# Filename: class_init.py

class Person:
    def __init__(self, name):
        self.name = name
    def sayHi(self):
        print('Hello, my name is', self.name)

p = Person('PYTHON')
p.sayHi()

Hello, my name is PYTHON

## Other "magic methods"

Dunder or magic methods in Python are the methods having two prefix and suffix underscores in the method name. Dunder here means “Double Under (Underscores)”. These are commonly used for operator overloading. Few examples for magic methods are: __init__, __add__, __len__, __repr__ etc.

In [76]:
# declare our own string class 
class String: 
      
    # magic method to initiate object 
    def __init__(self, string): 
        self.string = string 
          
# Driver Code 
if __name__ == '__main__': 
      
    # object creation 
    string1 = String('Hello') 
  
    # print object location 
    print(string1)

<__main__.String object at 0x000001F3277A4F88>

The above snippet of code prints only the memory address of the string object. Let’s add a __repr__ method to represent our object.

In [77]:
# declare our own string class 
class String: 
      
    # magic method to initiate object 
    def __init__(self, string): 
        self.string = string 
          
    # print our string object 
    def __repr__(self): 
        return 'Object: {}'.format(self.string) 
  
# Driver Code 
if __name__ == '__main__': 
      
    # object creation 
    string1 = String('Hello') 
  
    # print object location 
    print(string1)

Object: Hello

In [80]:
#Now add __add__ method to String class :
# declare our own string class 
class String: 
      
    # magic method to initiate object 
    def __init__(self, string): 
        self.string = string  
          
    # print our string object 
    def __repr__(self): 
        return 'Object: {}'.format(self.string) 
          
    def __add__(self, other): 
        return self.string + other 
  
# Driver Code 
if __name__ == '__main__': 
      
    # object creation 
    string1 = String('Hello') 
      
    # concatenate String object and a string 
    print(string1 +' World')

Hello World

## Context managers and the "with statement"

The below code shows the flow of the code inside the class ContextManager which is defined.

In [71]:
class ContextManager(): 
    def __init__(self): 
        print('init method called') 
          
    def __enter__(self): 
        print('enter method called') 
        return self
      
    def __exit__(self, exc_type, exc_value, exc_traceback): 
        print('exit method called') 
  
  
with ContextManager() as manager: 
    print('with statement block')

init method called
enter method called
with statement block
exit method called

## References

- https://try.jupyter.org
- https://docs.python.org/3/tutorial/index.html
- https://docs.python.org/3/tutorial/introduction.html
- https://daringfireball.net/projects/markdown/syntax

<hr>